DATABASE_URL=postgresql://pgurukul_db_user:u9P9KKMtgye4Af3E4RHKCU6pmYsc0DZd@dpg-d9l617n10e5c73fsplkg-a.oregon-postgres.render.com/pgurukul_db

SECRET_KEY=change-this-to-a-long-random-secret

BETTER_AUTH_SECRET=CjJ+pSpQ6fuoUqwHbFw9w9YEJZ/Sd7DRCurkQ/+o6Mo=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM_EMAIL=noreply@pgurukul.com

MAX_FILE_SIZE=52428800

NODE_ENV=production